* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: lightblue;
  background-position: center;
  background-size: auto;
  height: 100%;
}

a, a:visited {
  color: #000000;
}

a:hover {
  color: darkblue;
}

a:active {
  color: blue;
}

.top {
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.7);
}

.top-left div {
  font-weight: bold;
  font-size: 1.2rem;
}

.top-left {
  display: flex;
  align-items: center;
}
.top-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.input-box {
  width: 120px;
  height: 24px;
  margin: 4px;
}

.input-btn {
  width: 30px;
  height: 24px;
  margin: 4px;
}

.error {
  background-color: palevioletred;
  grid-area: "error";
  display: none;
  padding: 1px 4px;
}

.err-active {
  display: block !important;
  position: absolute
}

.temp-type span:nth-child(1),
.temp-type span:nth-child(3) {
  margin: 0px 5px;
  cursor: pointer;
  text-decoration: underline;
}

.temp-type span:nth-child(1):hover,
.temp-type span:nth-child(3):hover {
  color: darkblue;
}

.temp-active {
  font-weight: bold;
}

.current-view {
  margin: 12px 6px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 12px;  
}

.current-right div{
  margin-right: 6px;
}

.temperature {
  font-size: 2rem;
}

.city-name {
  font-size: 1.6rem;
  font-weight: bold;
}

.day-div {
  background-color: rgba(255, 255, 255, 0.7);
  width: 200px;
  height: 320px;
  /*border: 1px black solid;*/
  margin: 4px;
  padding: 10px;
}

.day-div:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.day-name {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 8px;
}
.max-temp,
.min-temp {
  font-size: 1.2rem;
  margin: 8px;
}

.max-temp img {
  position: relative;
  top: 2px;
}

.min-temp img {
  position: relative;
  top: 3px;
}

.chance-rain {
  margin-top: 12px;
  margin-bottom: 4px;
}

.chance-rain span {
  font-size: 1rem;

}

.chance-rain img {
  position: relative;
  top: 4px;
  right: 2px;
}

.sunrise,
.sunset {
  margin-bottom: 4px;
}

.sunrise span,
.sunset span {
  font-size: 1rem;
}

.sunrise img,
.sunset img {
  position: relative;
  top: 5px;
  right: 2px;
}

.footer {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 6px;
  padding: 4px;
  font-size: 0.8rem;
}

.footer div {
  margin: 0px;
  padding: 0px 12px;
}

/* positioning */
body {
  display: grid;
justify-content: center;
align-items: start;
  max-height: 1000px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  max-width: 800px;
}

.current-view {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

.current-right {
   display: flex;
  align-items: center;
  flex-wrap: wrap; 
}

.days-view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.day-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  padding: 12px;
}

@media only screen and (min-width: 992px) {
  .top,
  .current-view,
  .days-view,
  .footer {
    padding: 20px;
  }
  .footer {
    font-size: 1rem;
  }
}