* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: lightblue;
}


.top {
  display: flex;
  justify-content: space-between;
/*  display: grid;
  grid-template-columns: fit-content;
  grid-template-rows: 1fr 1fr;
  margin-right: 6px;
  justify-items: end;
  
  display: grid;
  grid-template-areas: "label input button"
  "error error error";
    justify-items: center;*/
}

.input-box {
  width: 120px;
  height: 24px;
  margin: 4px;
}

.input-btn {
  width: 30px;
  height: 24px;
  margin: 4px;
}

.error {
  background-color: palevioletred;
  grid-area: "error";
  display: none;
}

.err-active {
  display: block !important;
}

.current-view {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  font-size: 2rem;
}

.city-name {
  font-weight: bold;
}

.time {}

.days-view {
  display: flex;
}

.day-div {
  background-color: rgba(255, 255, 255, 0.2);
  width: 200px;
  height: 400px;
  border: 1px black solid;
  margin: 4px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-name {
  font-weight: bold;
  
}

.chance-rain span {
  font-size: 0.8rem;

}

.chance-rain img {
  position: relative;
  top: 4px;
}

.sunrise span,
.sunset span {
  font-size: 0.8rem;
}
.sunrise img,
.sunset img {
  position: relative;
  top: 5px;
}

