* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.input-box {
  width: 120px;
  height: 24px;
  margin: 4px;
}

.input-btn {
  width: 30px;
  height: 24px;
  margin: 4px;
}

.temperature {
  font-size: 2rem;
}

.city-name {}

.time {}

.days-view {
  display: flex;
}

.day-div {
  background-color: aquamarine;
  width: 200px;
  height: 400px;
  border: 1px black solid;
  margin: 4px;
}
